
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="frmJudicialRulings">
			<h:outputLabel value="#{loginUser.userName}" />
			<h:outputLabel value="#{loginUser.password}" />
		</h:form>

	</ui:define>
</ui:composition>
