
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="frmJudicialRulings">

			<p:messages id="messages" showDetail="true" autoUpdate="true"
				closable="true" />

			<p:panel header="Readme" toggleable="true" closable="false"
				collapsed="true">
				<p:panelGrid columns="1" style="width:100%">
					<p:outputLabel value="For testing use the following users:" />
					<p:outputLabel
						value="1. userName: admin || password: 123 || Roles (ADMIN,TEST,USER)" />
					<p:outputLabel
						value="2. userName: dba || password: 123 || Roles (DBA)" />
				</p:panelGrid>
			</p:panel>

			<p:fieldset legend="User Access" style="margin-bottom:20px">
				<p:panelGrid columns="2" styleClass="login-panel">
					<p:outputLabel value="User Name" />
					<p:inputText value="#{mbLogin.loginUserVO.userName}" />
					<p:outputLabel value="Password" />
					<p:keyboard id="password" value="#{mbLogin.loginUserVO.password}"
						password="true" keypadOnly="true" />
					<f:facet name="footer">
						<p:commandButton value="Login" action="#{mbLogin.loginAction}"
							ajax="false" />
					</f:facet>
				</p:panelGrid>
			</p:fieldset>
		</h:form>

	</ui:define>
</ui:composition>
