
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="frmJudicialRulings">
			<p:panelGrid columns="1" style="width:100%">
				<p:outputLabel
					value="Sorry, but you don't have permission to access this page" />
				<br />
				<p:outputLabel value="Username: #{loginUserVO.userName}" />
				<p:commandButton action="#{mbLogin.logoutAction}" value="Logout" />
			</p:panelGrid>
		</h:form>

	</ui:define>
</ui:composition>
