<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="form1">

			<p:panelGrid columns="2" styleClass="login-panel">

			</p:panelGrid>
			<p:panel>
				<p:dataTable var="row" value="#{mbLogin.loginUserVO.roles}">
					<p:column>
						<f:facet name="header">Role</f:facet>
						<p:outputLabel value="#{row}" />
					</p:column>
				</p:dataTable>
				<p:commandButton action="#{mbLogin.logoutAction}" value="Logout" />
			</p:panel>


		</h:form>

	</ui:define>
</ui:composition>
