#page {
	width: 800px;
	margin: 0 auto;
}

#header {
	width: 100%;
	height: 100px;
	border: 1px solid #000;
	margin-bottom: 16px;
}

#content {
	width: 100%;
	height: 100%;
	margin-right: 16px;
	margin-bottom: 16px;
	border: 1px solid #000;
	background-color: rgba(128, 128, 128, 0.16);
	-moz-box-shadow: inset 0px 0px 13px 4px #888888;
	-webkit-box-shadow: inset 0px 0px 13px 4px #888888;
	box-shadow: inset 0px 0px 13px 4px #888888;
}

#footer {
	width: 100%;
	height: 100px;
	border: 1px solid #000;
}

.login-panel {
	margin: 0px auto;
	width: 400px;
	height: 100%;
	background-color: #e5edfa;
	padding: 18px;
	color: #002157;
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	text-decoration: inherit;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0px 0px 10px 0px #333333;
	-webkit-box-shadow: 0px 0px 10px 0px #333333;
	box-shadow: 0px 0px 10px 0px #333333;
}