<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="form1">
			<p:outputLabel value="Welcome to DBA page" />

			<p:panelGrid columns="2" styleClass="login-panel">
				<p:outputLabel value="User Name" />
				<p:outputLabel value="#{loginUserVO.userName}" />
			</p:panelGrid>
			<p:panel>
				<p:dataTable var="row" value="#{loginUserVO.roles}">
					<p:column>
						<f:facet name="header">User's Roles</f:facet>
						<p:outputLabel value="#{row}" />
					</p:column>
				</p:dataTable>
				<p:commandButton action="#{mbLogin.logoutAction}" value="Logout" />
			</p:panel>

			<p:panel>
				<p:commandButton disabled="#{!mbAdminHome.viewEnabled}" value="View" />
				<p:commandButton disabled="#{!mbAdminHome.addEnabled}" value="Add" />
				<p:commandButton disabled="#{!mbAdminHome.editEnabled}" value="Edit" />
				<p:commandButton disabled="#{!mbAdminHome.deleteEnabled}"
					value="Delete" />
				<p:commandButton disabled="#{!mbAdminHome.executeEnabled}"
					value="Execute" />
				<p:commandButton disabled="#{!mbAdminHome.printEnabled}"
					value="Print" />

			</p:panel>

		</h:form>
	</ui:define>
</ui:composition>
