
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="template/common/commonLayout.xhtml">
	<ui:define name="content">

		<h:form id="frmJudicialRulings">
			<h:outputText value="#{departmentService.testName}" />
			<h:outputText value="#{departmentService.rowsCount}" />

			<h:dataTable var="row" value="#{mbUser.departmentList}">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Department Name" />
					</f:facet>
					<h:outputText value="#{row.name}" />
					<h:dataTable var="emp" value="#{row.employees}">
						<f:facet name="header">
							<h:outputText value="Employee Name" />
						</f:facet>
						<h:column>
							<h:outputText value="#{emp.name}" />
						</h:column>
					</h:dataTable>
				</h:column>
			</h:dataTable>

		</h:form>

	</ui:define>
</ui:composition>
